* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --black-color: #000;
  --second-black-color: #202020;
  --white-color: #ffffff;
  --accent-color: #008cff;
  --trans-dur: 300ms;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gap: clamp(16px, 1.6vw, 32px);
}

body {
  position: relative;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 4vw, 40px);
  line-height: 133%;
  color: var(--black-color);
  text-align: left;
  background-color: var(--white-color);
  max-width: 1920px;
  margin: 0 auto;

  /* @media (min-width: 760px) {
    font-size: clamp(20px, 2vw, 40px);
  } */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--black-color);
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: min(8vw, 61px) 0 min(16vw, 122px) 0;

  @media (min-width: 760px) {
    padding: min(4.6vw, 90px) 0 min(9.3vw, 180px) 0;
  }
}

.container {
  max-width: 100%;
  padding: 0 min(4.2vw, 32px);

  @media (min-width: 760px) {
    padding: 0 min(10.4vw, 200px);
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hidden {
  opacity: 0;
  /* pointer-events: none; */
}

.white-color {
  color: var(--white-color);
}

.section-top-border {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
  overflow: hidden;
}

.section-title {
  font-weight: 400;
  font-size: clamp(24px, 6.4vw, 48px);
  line-height: 100%;
  letter-spacing: 0.01em;
  color: var(--black-color);
  text-align: left;

  @media (min-width: 760px) {
    font-size: clamp(24px, 3.75vw, 72px);
  }
}

.section-title-mb {
  margin-bottom: clamp(32px, 10vw, 64px);

  @media (min-width: 760px) {
    margin-bottom: clamp(32px, 3.3vw, 64px);
  }
}

.backdrop,
.backdrop-submit {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #0003265e;

  transition: opacity var(--trans-dur) var(--trans-timing-function),
    visibility var(--trans-dur) var(--trans-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-submit.is-hidden .submit-message-wrap {
  transform: scale(0) translate(50%, 50%);
}

/* Submit message */

.submit-message-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 521px;
  width: 90%;
  height: auto;
  padding: clamp(20px, 2.6vw, 50px) clamp(20px, 2vw, 40px);
  border-radius: 30px;
  background-color: var(--white-color);
  transform: scale(1);

  transition: transform var(--trans-dur) var(--trans-timing-function);

  .submit-menu-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .submit-menu-message {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: var(--second-black-color);
  }

  .submit-message-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 238px;
    height: 46px;
    background-color: var(--accent-color);
    color: var(--white-color);

    &.display-none {
      display: none;
    }
  }
}

/* video BLOKS*/

.videoblock {
  padding: 0;

  video {
    width: 100%;
    display: block;
  }

  .videoblock-info {
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: min(8.8vw, 67px);
    padding: min(8vw, 61px) min(7.2vw, 55px) min(16vw, 122px) min(7.2vw, 55px);

    @media (min-width: 760px) {
      gap: min(5.2vw, 100px);
    }

    .videoblock-title {
      font-weight: 700;
      font-size: clamp(24px, 6.4vw, 48px);
      line-height: 100%;
      letter-spacing: 0.01em;
      color: var(--black-color);
      text-align: center;

      @media (min-width: 760px) {
        font-size: clamp(24px, 3.75vw, 72px);
      }
    }
    .videoblock-text {
      font-weight: 400;
      font-size: clamp(18px, 4.6vw, 36px);
      line-height: 120%;
      letter-spacing: 0.01em;
      text-align: center;

      @media (min-width: 760px) {
        font-size: clamp(18px, 2.7vw, 52px);
      }
    }
  }
}

/* Modules INFO */

.modules-info {
  .main-panel {
    height: 60vw;
    max-height: 459px;
    margin-bottom: min(27px, 3.2vw);

    @media (min-width: 760px) {
      height: 35vw;
      max-height: 680px;
      margin-bottom: min(40px, 2vw);
    }

    .bento-title {
      width: 50%;

      @media (min-width: 760px) {
        font-size: clamp(18px, 2.2vw, 42px);
        width: 35%;
      }
    }

    .bento-text {
      width: 50%;

      &.margin-bottom {
        margin-bottom: 4px;
      }

      @media (min-width: 760px) {
        font-size: clamp(12px, 1.3vw, 25px);
        width: 35%;

        &.margin-bottom {
          margin-bottom: 8px;
        }
      }
    }
  }

  .modules-info-list {
    display: flex;
    flex-wrap: wrap;
    gap: min(27px, 3.2vw);
    @media (min-width: 760px) {
      gap: min(40px, 2vw);
    }

    .modules-info-item {
      flex: 1 1 calc(50% - 14px);
      display: flex;
      gap: min(13px, 1.7vw);
      align-items: center;

      @media (min-width: 760px) {
        gap: min(40px, 2vw);
        flex: 1 1 calc(50% - 20px);
      }

      .info-icon-wrap {
        width: min(68px, 8.9vw);
        flex-shrink: 0;

        @media (min-width: 760px) {
          width: min(150px, 7.8vw);
        }
      }
    }
  }
}

/* Bento Mini Blocks */

.bentobox-panel {
  border-radius: 14px;
  padding: min(40px, 5.2vw) min(27px, 3.2vw);
  background: radial-gradient(
    100% 327.72% at 0% 0%,
    #002345 0%,
    #000000 67.31%,
    #001325 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @media (min-width: 760px) {
    /* padding: min(40px, 2vw); */
    padding: min(30px, 1.5vw);
  }

  .bento-title {
    font-weight: 700;
    font-size: clamp(12px, 3.5vw, 27px);
    margin-bottom: min(40px, 5.2vw);

    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--white-color);

    @media (min-width: 760px) {
      font-size: clamp(12px, 1.6vw, 32px);
      margin-bottom: min(40px, 2vw);
    }
  }

  .bento-sub-title {
    font-weight: 700;
    font-size: clamp(10px, 2.7vw, 21px);
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--white-color);

    @media (min-width: 760px) {
      font-size: clamp(12px, 1.6vw, 32px);
    }
  }

  .bento-text {
    font-weight: 400;
    font-size: clamp(10px, 2.7vw, 21px);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--white-color);

    &.margin-bottom {
      margin-bottom: 4px;
    }

    @media (min-width: 760px) {
      /* font-size: clamp(12px, 1vw, 18px); */
      font-size: clamp(8px, 1vw, 18px);

      &.margin-bottom {
        margin-bottom: 8px;
      }
    }
  }
}

/* HEADER SECTION */

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 1920px;
  padding: min(27px, 3.5vw) 0;
  background-color: var(--white-color);

  @media (min-width: 760px) {
    padding: min(27px, 1.7vw) 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    justify-content: space-between;

    .logo-wrap {
      width: 27vw;

      @media (min-width: 760px) {
        width: min(10vw, 210px);
      }
    }

    .contacts-link {
      background: #0081fe;
      border-radius: 135px;
      padding: 3vw 6vw;
      font-weight: 600;
      font-size: clamp(12px, 3.5vw, 27px);
      line-height: 1;
      letter-spacing: 0.01em;
      text-align: center;
      color: #fff;

      @media (min-width: 760px) {
        padding: min(1.2vw, 22px) min(2.4vw, 44px);
        font-size: clamp(12px, 1.5vw, 27px);
      }
    }
  }
}

/* HERO SECTION */

.hero {
  height: 160vw;
  max-height: 1216px;
  padding: 0;

  @media (min-width: 760px) {
    height: 56vw;
    max-height: 1080px;
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: min(10vw, 80px);
    align-items: center;
    justify-content: center;

    .logo-wrap {
      width: 50vw;
      max-width: 380px;

      @media (min-width: 760px) {
        width: 30vw;
        max-width: 564px;
        gap: min(8.3vw, 160px);
      }
    }

    .hero-text {
      width: 64%;
      font-weight: 400;
      font-size: clamp(24px, 6.4vw, 48px);
      line-height: 120%;
      letter-spacing: 0.01em;
      text-align: center;
      background: linear-gradient(145deg, #111 0%, #193352 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (min-width: 760px) {
        width: 83%;
        font-size: clamp(24px, 3.75vw, 72px);
      }
    }

    .icon-wrap {
      display: none;
      position: absolute;
      bottom: min(80px, 4vw);
      width: min(60px, 3vw);

      @media (min-width: 760px) {
        display: block;
      }
    }
  }
}

/* BENEFITS SECTION */

.bentobox-1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.36fr 1fr 1.36fr;
  gap: min(27px, 3.5vw);
  /* height: min(172.3vw, 1310px); */
  margin-top: min(51px, 5.7vw);

  &.default {
    --x1: 33.33%;
    --y1: 33.33%;
    --x2: 66.67%;
    --y2: 66.67%;
  }

  @media (min-width: 760px) {
    margin-top: min(80px, 4.1vw);
    display: block;
    height: min(54vw, 1040px);
  }

  .bento-item {
    @media (min-width: 760px) {
      position: absolute;
    }
  }

  .bento-item-1 {
    grid-area: 1 / 1 / 2 / 2;

    @media (min-width: 760px) {
      left: 0%;
      top: 0%;
      width: var(--x1);
      height: var(--y2);
      padding: 0 1vw 1vw 0;
    }
  }

  .bento-item-2 {
    grid-area: 1 / 2 / 2 / 3;

    @media (min-width: 760px) {
      left: var(--x1);
      top: 0%;
      width: calc(100% - var(--x1));
      height: var(--y1);
      padding: 0 0 1vw 1vw;
    }
  }

  .bento-item-3 {
    grid-area: 2 / 1 / 3 / 3;

    @media (min-width: 760px) {
      left: var(--x2);
      top: var(--y1);
      width: calc(100% - var(--x2));
      height: calc(100% - var(--y1));
      padding: 1vw 0 0 1vw;
    }
  }

  .bento-item-4 {
    grid-area: 3 / 1 / 4 / 2;

    @media (min-width: 760px) {
      left: 0%;
      top: var(--y2);
      width: var(--x2);
      height: calc(100% - var(--y2));
      padding: 1vw 1vw 0 0;
    }
  }

  .bento-item-5 {
    grid-area: 3 / 2 / 4 / 3;

    @media (min-width: 760px) {
      left: var(--x1);
      top: var(--y1);
      width: calc(var(--x2) - var(--x1));
      height: calc(var(--y2) - var(--y1));
      padding: 1vw;
    }
  }

  .panel-1 {
    height: 100%;
    background: url("/tmod/img/benefits/bg01-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/benefits/bg01.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  .panel-2 {
    height: 100%;
    background: url("/tmod/img/benefits/bg02-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/benefits/bg02.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  .panel-3 {
    height: 100%;
    background: url("/tmod/img/benefits/bg03-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    .bento-title,
    .bento-text {
      width: 50%;

      @media (min-width: 760px) {
        width: 100%;
      }
    }

    @media (min-width: 760px) {
      background: url("/tmod/img/benefits/bg03.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  .panel-4 {
    height: 100%;
    background: url("/tmod/img/benefits/bg02-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/benefits/bg02.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  .panel-5 {
    height: 100%;
    background: url("/tmod/img/benefits/bg05-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/benefits/bg05.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }
}

/* MODULES SECTION */

.modules {
  .modules-logo {
    width: 42vw;
    max-width: 324px;
    /* margin-bottom: min(67px, 8.8vw); */
    margin: 0 auto;

    @media (min-width: 760px) {
      width: 25vw;
      max-width: 480px;
    }
  }
}

/* RGB SECTION */

.rgb-module {
  .main-panel {
    background-image: url("/tmod/img/rgb/rgb-mob.jpg");

    @media (min-width: 760px) {
      background-image: url("/tmod/img/rgb/rgb.jpg");
    }
  }
}

/* LIGHT SECTION */

.light-module {
  .main-panel {
    background-image: url("/tmod/img/light/light-mob.jpg");
    height: 72.7vw;
    max-height: 553px;

    @media (min-width: 760px) {
      background-image: url("/tmod/img/light/light.jpg");
      height: 35vw;
      max-height: 680px;
    }
  }
}

/* CLIMATE SECTION */

.climate-module {
  .main-panel {
    background-image: url("/tmod/img/climate/climate-mob.jpg");

    @media (min-width: 760px) {
      background-image: url("/tmod/img/climate/climate.jpg");
    }
  }
}

/* GAS SECTION */

.gas-module {
  .main-panel {
    background-image: url("/tmod/img/gas/gas-mob.jpg");

    @media (min-width: 760px) {
      background-image: url("/tmod/img/gas/gas.jpg");
    }
  }
}

/* CONTROL SECTION */

.control {
  background-color: var(--black-color);
  background-image: url("/tmod/img/control/bg-control-mob.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 760px) {
    background-image: url("/tmod/img/control/bg-control.jpg");
  }

  .container {
    padding: 0 min(17vw, 130px);

    @media (min-width: 760px) {
      padding: 0 min(10.4vw, 200px);
      display: flex;
      gap: min(40px, 2vw);
    }

    .phone-wrap {
      @media (min-width: 760px) {
        flex: 1 1 calc(50% - 20px);
      }
    }

    .control-info-wrap {
      display: flex;
      flex-direction: column;
      gap: min(7vw, 54px);

      @media (min-width: 760px) {
        flex: 1 1 calc(50% - 20px);
        gap: min(4.1vw, 80px);
      }

      .control-title {
        font-weight: 700;
        font-size: clamp(24px, 6.4vw, 48px);
        line-height: 100%;
        letter-spacing: 0.01em;
        color: var(--white-color);

        @media (min-width: 760px) {
          font-size: clamp(24px, 3.75vw, 72px);
        }
      }

      .control-text {
        font-weight: 400;
        font-size: clamp(10px, 2.7vw, 21px);
        line-height: 150%;
        letter-spacing: 0.01em;
        color: var(--white-color);

        .underline {
          text-decoration: underline;
        }

        @media (min-width: 760px) {
          font-size: clamp(12px, 1.3vw, 25px);
        }
      }

      .control-list {
        display: flex;
        flex-direction: column;
        gap: min(7vw, 54px);
        padding: min(7vw, 54px) 0;

        @media (min-width: 760px) {
          gap: min(4.1vw, 80px);
          padding: min(4.1vw, 80px) 0;
        }

        .control-item {
          display: flex;
          gap: min(27px, 3.2vw);
          align-items: center;

          .control-icon-wrap {
            width: min(54px, 7.1vw);

            @media (min-width: 760px) {
              width: min(4.1vw, 80px);
            }
          }

          .control-item-text {
            font-weight: 700;
            font-size: clamp(10px, 2.7vw, 21px);
            line-height: 120%;
            letter-spacing: 0.01em;
            color: var(--white-color);

            @media (min-width: 760px) {
              font-size: clamp(12px, 1.6vw, 32px);
            }
          }
        }
      }

      .control-logos-list {
        display: flex;
        gap: min(18px, 2.3vw);
        /* justify-content: space-between; */
      }
    }
  }
}

/* TECHNOLOGY SECTION */

.bentobox-2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1.36fr 1fr 1.36fr;
  gap: min(27px, 3.5vw);
  /* height: min(172.3vw, 1310px); */
  margin-top: min(51px, 5.7vw);

  &.default {
    --x1: 33.33%;
    --y1: 33.33%;
    --x2: 66.67%;
    --y2: 66.67%;
  }

  @media (min-width: 760px) {
    margin-top: min(80px, 4.1vw);
    display: block;
    height: min(54vw, 1040px);
  }

  .bento2-item {
    @media (min-width: 760px) {
      position: absolute;
    }
  }

  .bento2-item-1 {
    grid-area: 1 / 1 / 2 / 3;

    @media (min-width: 760px) {
      left: 0%;
      top: 0%;
      width: var(--x1);
      height: var(--y2);
      padding: 0 1vw 1vw 0;
    }
  }

  .bento2-item-2 {
    grid-area: 2 / 1 / 3 / 2;

    @media (min-width: 760px) {
      left: var(--x1);
      top: 0%;
      width: calc(100% - var(--x2));
      height: var(--y1);
      padding: 0 1vw 1vw 1vw;
    }
  }

  .bento2-item-3 {
    grid-area: 2 / 2 / 3 / 3;

    @media (min-width: 760px) {
      left: var(--x2);
      top: 0%;
      width: calc(100% - var(--x2));
      height: var(--y1);
      padding: 0 0 1vw 1vw;
    }
  }

  .bento2-item-4 {
    grid-area: 3 / 1 / 4 / 3;

    @media (min-width: 760px) {
      left: var(--x2);
      top: var(--y1);
      width: calc(100% - var(--x2));
      height: calc(100% - var(--y1));
      padding: 1vw 0 0 1vw;
    }
  }

  .bento2-item-5 {
    grid-area: 4 / 1 / 5 / 2;

    @media (min-width: 760px) {
      left: var(--x1);
      top: var(--y1);
      width: calc(var(--x2) - var(--x1));
      height: calc(var(--y2) - var(--y1));
      padding: 1vw;
    }
  }

  .bento2-item-6 {
    grid-area: 4 / 2 / 5 / 3;

    @media (min-width: 760px) {
      left: 0%;
      top: var(--y2);
      width: var(--x2);
      height: calc(100% - var(--y2));
      padding: 1vw 1vw 0 0;
    }
  }

  .panel-1 {
    height: 100%;

    background: url("/tmod/img/technology/bg01-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/technology/bg01.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }

    .bento-title,
    .bento-text {
      width: 50%;

      @media (min-width: 760px) {
        width: 100%;
      }
    }
  }

  .panel-2 {
    height: 100%;

    background: url("/tmod/img/technology/bg02-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/technology/bg02.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .panel-3 {
    height: 100%;

    background: url("/tmod/img/technology/bg03-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/technology/bg03.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }

  .panel-4 {
    height: 100%;

    grid-area: 3 / 1 / 4 / 3;
    background: url("/tmod/img/technology/bg04-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/technology/bg04.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }

    .bento-title,
    .bento-text {
      width: 50%;

      @media (min-width: 760px) {
        width: 80%;
      }
    }
  }

  .panel-5 {
    height: 100%;

    background: url("/tmod/img/technology/bg05-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/technology/bg05.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .panel-6 {
    height: 100%;
    background: url("/tmod/img/technology/bg06-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background: url("/tmod/img/technology/bg06.png"),
        radial-gradient(
          100% 327.72% at 0% 0%,
          #002345 0%,
          #000000 67.31%,
          #001325 100%
        );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
    }
  }
}

/* FAQ SECTION */

.faq {
  background: #d9d9d9;

  .section-title {
    text-align: center;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    gap: min(27px, 3.5vw);
    margin-top: min(51px, 5.7vw);

    @media (min-width: 760px) {
      margin-top: min(4.1vw, 80px);
      gap: min(40px, 2vw);
      padding: 0 min(10vw, 190px);
    }
  }
}

/* CONTACT US SECTION */

.contact-us {
  position: relative;
  z-index: 90;
  background-color: var(--black-color);
  background-image: url("/tmod/img/control/bg-control-mob.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 760px) {
    background-image: url("/tmod/img/control/bg-control.jpg");
  }

  .container {
    display: flex;
    gap: min(10vw, 52px);
    flex-direction: column-reverse;

    @media (min-width: 760px) {
      flex-direction: row;
      gap: var(--gap);
    }

    .mob-text {
      max-width: 500px;
      margin: 0 auto;
      @media (min-width: 760px) {
        display: none;
      }
      .info-text {
        font-weight: 400;
        font-size: clamp(10px, 2.7vw, 21px);
        line-height: 150%;
        letter-spacing: 0.01em;
        color: var(--white-color);
      }
    }

    .contacts-wrap,
    .info-wrap {
      flex: 1 1 calc(50% - 16px);
    }

    .contacts-wrap {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--gap);
      align-items: center;

      @media (min-width: 760px) {
        flex-direction: column;
      }

      .conacts-backdrop {
        padding: clamp(20px, 2vw, 40px);
        border-radius: 20px;
        width: 100%;
        max-width: 521px;
        background-color: var(--white-color);

        .contact-form-style {
          .inputs-wrap {
            width: 100%;
            position: relative;

            input,
            textarea {
              display: block;
              border: 1px solid #e3e3e3;
              border-radius: 25px;
              padding: 17px 21px;
              width: 100%;
              font-weight: 400;
              font-size: 16px;
            }

            textarea {
              margin-bottom: 24px;
              resize: none;
              height: 127px;
            }

            input {
              margin-bottom: 16px;
            }

            .error-message {
              position: absolute;
              color: red;
              font-size: 10px;
              bottom: -13px;
              left: 10px;
              line-height: 1;
            }
          }

          .checkbox-container-wrap {
            display: flex;
            gap: 10px;

            .checkbox-container {
              display: flex;
              align-items: flex-start;
              line-height: 1;
              margin-bottom: 24px;
            }

            .checkbox-container input {
              display: none;
            }

            .checkbox-custom {
              width: 20px;
              height: 20px;
              border: 1px solid #626262;
              flex-shrink: 0;
              display: inline-block;
              border-radius: 5px;
              cursor: pointer;
              margin-right: 10px;
              position: relative;
            }

            .checkbox-container input:checked + .checkbox-custom::after {
              content: "✓";
              position: absolute;
              font-size: 18px;
              left: 2px;
              top: 0px;
              color: #626262;
            }

            .legat-text {
              font-weight: 400;
              font-size: 14px;
              color: var(--second-black-color);

              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3; /* Кількість рядків до обрізання */
              -webkit-box-orient: vertical;

              &.expanded {
                line-clamp: none;
                -webkit-line-clamp: unset; /* Відключає обмеження рядків */
                overflow: visible;
                text-overflow: unset;
              }
            }

            .checkbox-container-icon {
              flex-shrink: 0;
              width: 20px;
              height: 20px;
              transition: transform var(--trans-dur)
                var(--trans-timing-function);
              cursor: pointer;

              &.rotated {
                transform: rotate(180deg);
              }
            }
          }

          .submit-btn {
            background-color: #d9d9d9;
            border-radius: 50px;
            border: none;
            width: 100%;
            padding: 16px 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            text-align: center;
            color: var(--white-color);
            cursor: not-allowed;

            .spinner {
              display: none;
              width: 16px;
              height: 16px;
              border: 2px solid white;
              border-top: 2px solid transparent;
              border-radius: 50%;
              margin-left: 8px;
              animation: spin 0.6s linear infinite;

              &.active {
                display: inline-block;
              }
            }
          }

          .submit-btn.active {
            background-color: var(--accent-color);
            cursor: pointer;
          }
        }

        .contact-info {
          display: flex;
          gap: var(--gap);
          align-items: center;
          flex-direction: column;

          @media (min-width: 760px) {
            flex-direction: row;
          }

          .contact-photo-wrap {
            width: min(24vw, 120px);

            @media (min-width: 760px) {
              width: min(6.2vw, 120px);
              flex-shrink: 0;
            }
          }
          .contact-info-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: 760px) {
              align-items: flex-start;
            }

            .manager-name {
              margin-bottom: clamp(10px, 1vw, 16px);
              font-weight: 600;
              font-size: clamp(18px, 6.4vw, 28px);
              line-height: 121%;
              color: var(--accent-color);

              @media (min-width: 760px) {
                font-size: clamp(18px, 1.4vw, 28px);
              }
            }

            .manager-position,
            .manager-contact {
              font-weight: 500;
              font-size: clamp(14px, 4vw, 18px);
              line-height: 133%;
              color: var(--second-black-color);

              @media (min-width: 760px) {
                font-size: clamp(14px, 1vw, 18px);
              }
            }

            .manager-position {
              text-align: center;

              @media (min-width: 760px) {
                text-align: left;
              }
            }

            .manager-socials-wrap {
              margin-top: clamp(16px, 1.6vw, 32px);

              .manager-contact.whatsup,
              .manager-contact.mail {
                display: flex;
                gap: clamp(10px, 1vw, 16px);

                align-items: center;
                &::before {
                  content: "";
                  display: block;
                  width: clamp(20px, 1.6vw, 32px);
                  height: clamp(20px, 1.6vw, 32px);
                }
              }

              .manager-contact.whatsup {
                text-decoration: none;
                &::before {
                  background-image: url("/tmod/img/contacts/whatsup.svg");
                  background-size: cover;
                }
              }

              .manager-contact.mail {
                margin-top: 8px;
                text-decoration: none;
                &::before {
                  background-image: url("/tmod/img/contacts/mail.svg");
                  background-size: cover;
                }
              }
            }
          }
        }
      }
    }

    .info-wrap {
      .contact-title {
        font-weight: 700;
        font-size: clamp(24px, 6.4vw, 48px);
        line-height: 100%;
        letter-spacing: 0.01em;
        color: var(--white-color);
        max-width: 480px;

        @media (min-width: 760px) {
          font-size: clamp(24px, 3.75vw, 72px);
          margin-bottom: min(4.1vw, 80px);
        }
      }
      .info-text {
        display: none;
        font-weight: 400;
        font-size: clamp(14px, 4vw, 18px);
        line-height: 133%;
        letter-spacing: 0.01em;
        color: var(--white-color);

        @media (min-width: 760px) {
          display: block;
          font-size: clamp(12px, 1.3vw, 25px);
        }
      }
    }
  }
}
