* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --black-color: #000;
  --second-black-color: #202020;
  --white-color: #ffffff;
  --accent-color: #008cff;
  --trans-dur: 300ms;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gap: clamp(16px, 1.6vw, 32px);
}

body {
  position: relative;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 4vw, 40px);
  line-height: 133%;
  color: var(--black-color);
  text-align: left;
  background-color: var(--white-color);
  max-width: 760px;
  margin: 0 auto;

  /* @media (min-width: 760px) {
    font-size: clamp(20px, 2vw, 40px);
  } */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--black-color);
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: min(8vw, 61px) 0 min(16vw, 122px) 0;

  /* @media (min-width: 760px) {
    padding: min(7vw, 146px) 0;
  } */
}

.container {
  max-width: 100%;
  padding: 0 min(4.2vw, 32px);

  /* @media (min-width: 760px) {
    padding: 0 min(7vw, 146px);
  } */
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hidden {
  opacity: 0;
  /* pointer-events: none; */
}

.white-color {
  color: var(--white-color);
}

.section-top-border {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
  overflow: hidden;
}

.section-title {
  font-weight: 400;
  font-size: clamp(24px, 6.4vw, 48px);
  line-height: 100%;
  letter-spacing: 0.01em;
  color: var(--black-color);
  text-align: left;

  /* @media (min-width: 760px) {
    font-size: clamp(40px, 4vw, 80px);
  } */
}

.section-title-mb {
  margin-bottom: clamp(32px, 10vw, 64px);

  @media (min-width: 760px) {
    margin-bottom: clamp(32px, 3.3vw, 64px);
  }
}

.backdrop,
.backdrop-submit {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #0003265e;

  transition: opacity var(--trans-dur) var(--trans-timing-function),
    visibility var(--trans-dur) var(--trans-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-submit.is-hidden .submit-message-wrap {
  transform: scale(0) translate(50%, 50%);
}

/* Submit message */

.submit-message-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 521px;
  width: 90%;
  height: auto;
  padding: clamp(20px, 2.6vw, 50px) clamp(20px, 2vw, 40px);
  border-radius: 30px;
  background-color: var(--white-color);
  transform: scale(1);

  transition: transform var(--trans-dur) var(--trans-timing-function);

  .submit-menu-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .submit-menu-message {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: var(--second-black-color);
  }

  .submit-message-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 238px;
    height: 46px;
    background-color: var(--accent-color);
    color: var(--white-color);

    &.display-none {
      display: none;
    }
  }
}

/* video BLOKS*/

.videoblock {
  padding: 0;

  video {
    width: 100%;
    display: block;
  }

  .videoblock-info {
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: min(8.8vw, 67px);
    padding: min(8vw, 61px) min(7.2vw, 55px) min(16vw, 122px) min(7.2vw, 55px);

    .videoblock-title {
      font-weight: 700;
      font-size: clamp(24px, 6.4vw, 48px);
      line-height: 100%;
      letter-spacing: 0.01em;
      color: var(--black-color);
      text-align: center;
    }
    .videoblock-text {
      font-weight: 400;
      font-size: clamp(18px, 4.6vw, 36px);
      line-height: 120%;
      letter-spacing: 0.01em;
      text-align: center;
    }
  }
}

/* Bento Mini Blocks*/

.bentobox-panel {
  border-radius: 14px;
  padding: min(40px, 5.2vw) min(27px, 3.2vw);
  background: radial-gradient(
    100% 327.72% at 0% 0%,
    #002345 0%,
    #000000 67.31%,
    #001325 100%
  );
  background-repeat: no-repeat;
  background-size: cover;

  .bento-title {
    font-weight: 700;
    font-size: clamp(12px, 3.5vw, 27px);
    margin-bottom: min(40px, 5.2vw);

    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--white-color);
  }

  .bento-sub-title {
    font-weight: 700;
    font-size: clamp(10px, 2.7vw, 21px);
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--white-color);
  }

  .bento-text {
    font-weight: 400;
    font-size: clamp(10px, 2.7vw, 21px);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--white-color);
  }
}

/* HERO SECTION */

.hero {
  height: 160vw;
  max-height: 1216px;
  padding: 0;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: min(10vw, 80px);
    align-items: center;
    justify-content: center;

    .logo-wrap {
      width: 50vw;
      max-width: 380px;
    }

    .hero-text {
      width: 64%;
      font-weight: 400;
      font-size: clamp(24px, 6.4vw, 48px);
      line-height: 120%;
      letter-spacing: 0.01em;
      text-align: center;
      background: linear-gradient(145deg, #111 0%, #193352 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/* BENEFITS SECTION */

.bentobox-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.36fr 1fr 1.36fr;
  gap: min(27px, 3.5vw);
  /* height: min(172.3vw, 1310px); */
  margin-top: min(51px, 5.7vw);

  .panel-1 {
    grid-area: 1 / 1 / 2 / 2;
    background: url("/tmod/img/benefits/bg01-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
  .panel-2 {
    grid-area: 1 / 2 / 2 / 3;
    background: url("/tmod/img/benefits/bg02-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
  .panel-3 {
    grid-area: 2 / 1 / 3 / 3;
    background: url("/tmod/img/benefits/bg03-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;
    .bento-title,
    .bento-text {
      width: 50%;
    }
  }
  .panel-4 {
    grid-area: 3 / 1 / 4 / 2;
    background: url("/tmod/img/benefits/bg02-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
  .panel-5 {
    grid-area: 3 / 2 / 4 / 3;
    background: url("/tmod/img/benefits/bg05-mob.png"),
      radial-gradient(
        100% 327.72% at 0% 0%,
        #002345 0%,
        #000000 67.31%,
        #001325 100%
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* MODULES SECTION */

.modules {
  .modules-logo {
    width: 42vw;
    max-width: 324px;
    /* margin-bottom: min(67px, 8.8vw); */
    margin: 0 auto;
  }
}

/* CONTACT US SECTION */

.contact-us {
  position: relative;
  z-index: 90;
  background-color: #000326;
  /* background-image: url("/tmod/img/bg-contact-us-mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 760px) {
    background-image: url("/tmod/img/bg-contact-us.jpg");
  } */

  .container {
    display: flex;
    gap: min(10vw, 52px);
    flex-direction: column-reverse;

    @media (min-width: 760px) {
      flex-direction: row;
      gap: var(--gap);
    }

    .mob-text {
      max-width: 500px;
      margin: 0 auto;
      @media (min-width: 760px) {
        display: none;
      }
      .info-text {
        font-weight: 400;
        font-size: clamp(14px, 4vw, 18px);
        line-height: 133%;
        letter-spacing: 0.01em;
        color: var(--white-color);
      }
    }

    .contacts-wrap,
    .info-wrap {
      flex: 1 1 calc(50% - 16px);
    }

    .contacts-wrap {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--gap);
      align-items: center;

      @media (min-width: 760px) {
        flex-direction: column;
      }

      .conacts-backdrop {
        padding: clamp(20px, 2vw, 40px);
        border-radius: 20px;
        width: 100%;
        max-width: 360px;
        background-color: var(--white-color);

        @media (min-width: 760px) {
          max-width: 521px;
        }

        .contact-form-style {
          .inputs-wrap {
            width: 100%;
            position: relative;

            input,
            textarea {
              display: block;
              border: 1px solid #e3e3e3;
              border-radius: 25px;
              padding: 17px 21px;
              width: 100%;
              font-weight: 400;
              font-size: 16px;
            }

            textarea {
              margin-bottom: 24px;
              resize: none;
              height: 127px;
            }

            input {
              margin-bottom: 16px;
            }

            .error-message {
              position: absolute;
              color: red;
              font-size: 10px;
              bottom: -13px;
              left: 10px;
              line-height: 1;
            }
          }

          .checkbox-container-wrap {
            display: flex;
            gap: 10px;

            .checkbox-container {
              display: flex;
              align-items: flex-start;
              line-height: 1;
              margin-bottom: 24px;
            }

            .checkbox-container input {
              display: none;
            }

            .checkbox-custom {
              width: 20px;
              height: 20px;
              border: 1px solid #626262;
              flex-shrink: 0;
              display: inline-block;
              border-radius: 5px;
              cursor: pointer;
              margin-right: 10px;
              position: relative;
            }

            .checkbox-container input:checked + .checkbox-custom::after {
              content: "✓";
              position: absolute;
              font-size: 18px;
              left: 2px;
              top: 0px;
              color: #626262;
            }

            .legat-text {
              font-weight: 400;
              font-size: 14px;
              color: var(--second-black-color);

              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3; /* Кількість рядків до обрізання */
              -webkit-box-orient: vertical;

              &.expanded {
                line-clamp: none;
                -webkit-line-clamp: unset; /* Відключає обмеження рядків */
                overflow: visible;
                text-overflow: unset;
              }
            }

            .checkbox-container-icon {
              flex-shrink: 0;
              width: 20px;
              height: 20px;
              transition: transform var(--trans-dur)
                var(--trans-timing-function);
              cursor: pointer;

              &.rotated {
                transform: rotate(180deg);
              }
            }
          }

          .submit-btn {
            background-color: #d9d9d9;
            border-radius: 50px;
            border: none;
            width: 100%;
            padding: 16px 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            text-align: center;
            color: var(--white-color);
            cursor: not-allowed;

            .spinner {
              display: none;
              width: 16px;
              height: 16px;
              border: 2px solid white;
              border-top: 2px solid transparent;
              border-radius: 50%;
              margin-left: 8px;
              animation: spin 0.6s linear infinite;

              &.active {
                display: inline-block;
              }
            }
          }

          .submit-btn.active {
            background-color: var(--accent-color);
            cursor: pointer;
          }
        }

        .contact-info {
          display: flex;
          gap: var(--gap);
          align-items: center;
          flex-direction: column;

          @media (min-width: 760px) {
            flex-direction: row;
          }

          .contact-photo-wrap {
            width: min(24vw, 120px);

            @media (min-width: 760px) {
              width: min(6.2vw, 120px);
              flex-shrink: 0;
            }
          }
          .contact-info-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: 760px) {
              align-items: flex-start;
            }

            .manager-name {
              margin-bottom: clamp(10px, 1vw, 16px);
              font-weight: 600;
              font-size: clamp(18px, 6.4vw, 28px);
              line-height: 121%;
              color: var(--accent-color);

              @media (min-width: 760px) {
                font-size: clamp(18px, 1.4vw, 28px);
              }
            }

            .manager-position,
            .manager-contact {
              font-weight: 500;
              font-size: clamp(14px, 4vw, 18px);
              line-height: 133%;
              color: var(--second-black-color);

              @media (min-width: 760px) {
                font-size: clamp(14px, 1vw, 18px);
              }
            }

            .manager-position {
              text-align: center;

              @media (min-width: 760px) {
                text-align: left;
              }
            }

            .manager-socials-wrap {
              margin-top: clamp(16px, 1.6vw, 32px);

              .manager-contact.whatsup,
              .manager-contact.mail {
                display: flex;
                gap: clamp(10px, 1vw, 16px);

                align-items: center;
                &::before {
                  content: "";
                  display: block;
                  width: clamp(20px, 1.6vw, 32px);
                  height: clamp(20px, 1.6vw, 32px);
                }
              }

              .manager-contact.whatsup {
                text-decoration: none;
                &::before {
                  background-image: url("/tmod/img/contacts/whatsup.svg");
                  background-size: cover;
                }
              }

              .manager-contact.mail {
                margin-top: 8px;
                text-decoration: none;
                &::before {
                  background-image: url("/tmod/img/contacts/mail.svg");
                  background-size: cover;
                }
              }
            }
          }
        }
      }
    }

    .info-wrap {
      .section-title {
        color: var(--white-color);
        max-width: 480px;
      }
      .info-text {
        display: none;
        font-weight: 400;
        font-size: clamp(14px, 4vw, 18px);
        line-height: 133%;
        letter-spacing: 0.01em;
        color: var(--white-color);

        @media (min-width: 760px) {
          display: block;
          font-size: clamp(14px, 1vw, 18px);
        }
      }
    }
  }
}
